/* || general */

.body {
  display: flex;
  flex-flow: row wrap;
}

/* || scrollbar */
::-webkit-scrollbar {
  width: 0em;
  height: 1em;
}

::-webkit-scrollbar-track {
  background: lightgrey;
}

::-webkit-scrollbar-thumb {
  background: rgba(255, 255, 0, 0.5);
}

::-webkit-scrollbar-thumb:hover {
  background: yellow;
}

/* || typography */
.subheading {
  font-family: sans-serif;
  font-weight: bold;
  margin: 0em;
}

/* || audio */
audio::-webkit-media-controls-panel {
  background-color: white;
  border-radius: 0%;
}
audio::-webkit-media-controls-play-button {
  background-color: white;
  border-radius: 0%;
}
audio::-webkit-media-controls-timeline {
  background-color: white;
  border-radius: 0;
  margin-left: 10px;
  margin-right: 10px;
}

.audiotitle {
  font-family: sans-serif;
  margin-top: 1em;
  margin-bottom: 0;
  padding-bottom: 0;
  font-size: 0.8em;
  font-style: oblique;
  font-weight: bolder;
}

/* || images */
.documentation {
  max-width: 99%;
  max-height: 70vh;
  margin-left: 0.2em;
  margin-right: 0.5em;
  overflow-x: auto;
}
.scroll {
  overflow-x: auto;
  white-space: nowrap;
  margin-bottom: 2em;
}

/* || information*/
.info-div {
  order: 0;
  max-width: 33%;
  top: 0.5em; /* this is required for "sticky" to work */
  position: sticky;
  position: -webkit-sticky;
  align-self: flex-start;
  margin-bottom: 0.5em;
}

@media (max-width: 760px) {
  .about {
    font-size: 1em;
  }
  .title {
    font-size: 1.5em;
  }
  .contact {
    font-size: 1em;
  }
  .info-div {
    order: 0;
    max-width: 100%;
    position: relative;
  }
  .projects-div {
    order: 1;
    min-width: 100%;
  }
}

@media (min-width: 760px) {
  .title {
    font-size: 2em;
  }
  .info-div {
    order: 0;
    position: relative;
    top: 0.5em; /* this is required for "sticky" to work */
    position: sticky;
    position: -webkit-sticky;
    align-self: flex-start;
    margin-bottom: 0.5em;
  }
  .projects-div {
    order: 1;
    max-width: 73%;
  }
}

@media (min-width: 1200px) {
  .projects-div {
    order: 1;
    max-width: 50%;
  }
}

.title {
  color: rgba(0, 0, 0, 0.5);
  margin: 0em;
  padding: 0.5em;
  -webkit-animation-name: title;
  animation-name: title;
  -webkit-animation-duration: 45s;
  animation-duration: 45s;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  -webkit-animation-timing-function: linear;
  animation-timing-function: linear;
}

@keyframes title {
  0% {
    background-color: green;
  }
  33% {
    background-color: powderblue;
  }
  66% {
    background-color: grey;
  }
  100% {
    background-color: seashell;
  }
}

.about {
  color: white;
  margin: 0em;
  padding: 0.5em;
  -webkit-animation-name: about;
  animation-name: about;
  -webkit-animation-duration: 55s;
  animation-duration: 55s;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  -webkit-animation-timing-function: linear;
  animation-timing-function: linear;
}

@keyframes about {
  0% {
    background-color: green;
  }
  33% {
    background-color: powderblue;
  }
  66% {
    background-color: saddlebrown;
  }
  100% {
    background-color: seashell;
  }
}

.contact {
  color: white;
  margin: 0em;
  padding: 0.5em;
  -webkit-animation-name: about;
  animation-name: about;
  -webkit-animation-duration: 30s;
  animation-duration: 30s;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  -webkit-animation-timing-function: linear;
  animation-timing-function: linear;
}

.joinlist:hover {
  color: yellow;
}

.joinlist {
  color: rgba(0, 0, 0, 0.5);
}

/* || projects */

details {
  border: px solid black;
  padding: 0.5em 0.5em 0;
  margin: 0.75em;
  width: fit-content;
}

summary {
  font-family: sans-serif;
  font-weight: bold;
  margin: -0.5em -0.5em 0;
  padding: 0.5em;
}

summary:hover {
  background: rgba(255, 255, 0, 0.5);
}

details[open] {
  padding: 0.5em;
  width: fit-content;
}

details[open] summary {
  margin-bottom: 0.5em;
  background-color: yellow;
}

details[open] summary:hover {
  background: ;
}

.description {
  font-family: monospace;
  margin-bottom: 2em;
}
