/*main sections spatial design*/
body {
  background-color: white;
  font-size: 100%;
  margin:20px;
}

body.techno { 
  background-color: white;
 font-size: 100%;
  margin:20px;

  -webkit-animation-name: techno;

          animation-name: techno;
  -webkit-animation-duration: 1.5s;
          animation-duration: 1.2s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  animation-direction: alternate-reverse;
  -webkit-animation-timing-function: linear;
          animation-timing-function: linear;
}

p.secrettext {
  color:black;
  -webkit-animation-name: secrettext;

          animation-name: secrettext;
  -webkit-animation-duration: 120s;
          animation-duration: 120s;
  -webkit-animation-iteration-count: 1;
          animation-iteration-count: 1;
  animation-direction: normal;
  -webkit-animation-timing-function: linear;
          animation-timing-function: linear;
}
 @keyframes secrettext{
  0% {color:white;}
  100% {color:black;}
}

  @keyframes techno{
  0%  {background-color: white;}
  5%  {background-color: yellow;}
    15%  {background-color: white;}
    20%  {background-color: grey;}
  25%  {background-color: white;}
    30%  {background-color: yellow;}
  35%  {background-color: white;}
    45%  {background-color: yellow;}
  55%  {background-color: grey;}
  65% {background-color: yellow;}
   70%  {background-color: white;}
  75%  {background-color: yellow;}
    80%  {background-color: white;}
  85%  {background-color: yellow;}
    95%  {background-color: grey;}
  100%  {background-color: yellow;}
}

@-webkit-keyframes techno{
  0%   {background-color: green;}
  33%  {background-color: powderblue;}
  66%  {background-color: grey;}
  100%  {background-color: yellow;}
}
#header {
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 10;
}
#content {
  margin-top: 60px;
  z-index:1;
}
.nameposition {
  height: 40px;
  width: 90px;
  padding-left:2px;
  position: absolute;
  background-color: red;
  -webkit-animation-name: index;
          animation-name: index;
  -webkit-animation-duration: 45s;
          animation-duration: 45s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  animation-direction: alternate;
  -webkit-animation-timing-function: linear;
          animation-timing-function: linear;
}
@keyframes index {
  0%   {background-color: green;}
  33%  {background-color: powderblue;}
  66%  {background-color: grey;}
  100%  {background-color: yellow;}
}

nav ul {
  list-style-type: none;
    margin: 0;
   border: none;
    display: inline-block;
    height:125px;
    width:82px;
    padding-top: 50px;
    padding-left:10px;
float:left;
clear:left;
  background-color: red;
  -webkit-animation-name: name;
          animation-name: name;
  -webkit-animation-duration: 60s;
          animation-duration: 60s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  animation-direction: alternate-reverse;
  -webkit-animation-timing-function: linear;
          animation-timing-function: linear
}

@keyframes name {
  0%   {background-color: yellow;}
  20%  {background-color: pink;}
  40%  {background-color: green;}
  60%   {background-color: grey;}
  80%  {background-color: white;}
  100%  {background-color: green;}
}

.stuff{
	display:flex;
	flex-direction:column;
	float:left; width:80%;
  padding-top: 0;
  margin-top: 0;
  padding-bottom: 5px;
  padding-left:30px
;
}

.flex-full {
 width:50%;
  display: flexbox;
  flex-direction:column;
  float:right;
  padding-top: 0px;
  padding-bottom: 30px;
}

.flex-text {
	width:40%;
  display: flexbox;
  flex-direction:column; ;
  float:left;
  padding-left:30px;
  padding-top: 0px;
}
.flex-pics {
	width:40%;
  display: flexbox;
  flex-direction:column;
  float:right;
  padding-top: 0px;
  padding-bottom: 30px;
}

.license {
  position:relative;
float:right;
clear:both;
bottom:0px;
padding-top: 60%;
padding-bottom:10px;
font-size:.6em;
font-family: sans-serif;
}

/*Index name*/
h1 {
  color: white;
   font-family:serif;
  font-size:1.2em;
  font-weight: normal;
  padding: 0px 8px;
}

/*Non-linking head*/
h2 {font-family: sans-serif;
	font-size:1em;
	font-style:bold;
	color:black;
	text-align:left;
}

p {
	font-family: sans-serif;
font-size:.9em;
}


/*Navigation list formating*/
ul.things{
  font-family: sans-serif; list-style-type: none; padding: 0;
  margin-left:0; margin-top: 0;
  }

li.sub{ font-size:.8em;
}

li {margin-bottom:5px;}

ul.heading {font-family: sans-serif; list-style-type: none; padding: 0;
  margin-left:0; margin-top: 0; font-size:.9em;}

/*Past shows list formating*/

ul.past {font-family: sans-serif; font-size: .9em; list-style-type: none; padding: 0;
  margin-left:0; margin-top: 0px;
  }

li.past {font-size:.9em;}

/*Main-text*/
p.one {
	font-size:.9em; font-weight:normal;  text-decoration: none; margin-top:0px;
}

/*Sub-text*/
p.two {
	font-family: sans-serif;
	font-size:.9em;
	}

/*List-text*/
p.three{
	font-family: sans-serif;
	font-size:.9em;
	}


/*Nav links*/
a.one:link {
	font-size:1.2em;
	color:white;
  text-decoration: none;
  font-family:serif;
}

a.one:visited {
	font-size:1.2em;
	color:white;
  text-decoration: none;
  font-family:serif;
}

a.one:hover {
	font-size:1.2em;
	color:black;
  font-family:serif;
}

a.one:active {
	font-size:1.2em;
	color:black;
   font-family:serif;
}

/*Things links*/

a.thing:link {
	color:black;
  text-decoration: none;
  font-size: .9em;
  font-weight:bold;
  font-family: sans-serif;

}

a.thing:visited {
  	color:black;
  text-decoration: none;
  font-size: .9em;
  font-weight:bold;
}

a.thing:hover {
	color:black;
	background-color: yellow;
	  text-decoration: none;
  font-size:.9em;
  font-weight:bold;
}

a.thing:active {
	  	color:black;
  text-decoration: none;
  font-size: .9em;
  font-weight:bold;
}

a.norm{font-size: .9em}



  @keyframes link {
 0%   {background-color: yellow;}
  20%  {background-color: white;}
  40%  {background-color: green;}
  60%   {background-color: grey;}
  80%  {background-color: pink;}
  100%  {background-color: green;}
  33%  {background-color: powderblue;}
  66%  {background-color: grey;}
  100%  {background-color: yellow;}
}


img.documentation {width:100%;}

hr {
width: 100%;
height: 5px;
background-color:grey;
}


img.zoom:hover {
    -webkit-transform:scale(1.6); /* or some other value */
    -ms-transform:scale(1.6)skewY(2deg);
        transform:scale(1.6)skewY(2deg);;
}
.notbold{
    font-weight:normal
}​



/* Style the Image Used to Trigger the Modal */
#myImg {
  border-radius: 5px;
  cursor: pointer;
  transition: 0.3s;
}

#myImg:hover {opacity: 0.7;}

/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.9); /* Black w/ opacity */
}

/* Modal Content (Image) */
.modal-content {
  margin: auto;
  display: block;
  width: 80%;
  max-width: 700px;
}

/* Caption of Modal Image (Image Text) - Same Width as the Image */
#caption {
  margin: auto;
  display: block;
  width: 80%;
  max-width: 700px;
  text-align: center;
  color: #ccc;
  padding: 10px 0;
  height: 150px;
  font-family: sans-serif;
}

/* Add Animation - Zoom in the Modal */
.modal-content, #caption {
  animation-name: zoom;
  animation-duration: 0.6s;
}

@keyframes zoom {
  from {transform:scale(0)}
  to {transform:scale(1)}
}

/* The Close Button */
.close {
  position: absolute;
  top: 15px;
  right: 35px;
  color: #f1f1f1;
  font-size: 40px;
  font-weight: bold;
  transition: 0.3s;
}

.close:hover,
.close:focus {
  color: #bbb;
  text-decoration: none;
  cursor: pointer;
}

/* 100% Image Width on Smaller Screens */
@media only screen and (max-width: 700px){
  .modal-content {
    width: 100%;
  }
}